*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --brown: #572222;
    --yellow: #FCF8E3;
    --font: 'Atma', cursive;
    --font2:'Kaushan Script', cursive;;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 70% 10%;
}



header{
    display: flex;
    padding: 24px 64px 32px;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 1.6rem;
    font-family: var(--font2);
}

.open-menu-btn{
    position: fixed;
    top: 45px;
    right: 65px;
    cursor: pointer;
}

.close-menu-btn{
    position: absolute;
    top: 45px;
    left: 20px;
    cursor: pointer;
}

.menu{
    background-color: white;
    position: fixed;
    width: 20vw;
    height: 100vh;
    right: 65px;
    top: 0;
    display: flex;
    align-items: center;
    text-align: right;
    border-radius: 30px;
    transform: translateX(140%);
    transition: all .3s ease;
    box-shadow: rgb(124, 124, 124) -4px 0 4px 0px;
}

.menu.active{
    transform: translateX(0);
}

.menu ul li{
    list-style: none;
}

.menu ul{
    width: 100%;
}



main{
    display: flex;
    align-items: center;
    justify-content: center;
}


.container{
    height: 100%;
    row-gap: 32px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

button, input{
    background-color: var(--yellow);
    border: 1px solid var(--brown);
    font-family: var(--font);
}

input{
    width: 265px;
    height: 40px;
    margin-right: -3.5rem;
    padding-inline: 16px 50px;
    background-color: var(--yellow);
    border-radius: 30px;
    outline: none;
}

input::placeholder{
    font-size: 1.1rem;
}

input:focus{
    outline: 1px solid var(--brown);
}

button{
    width: 265px;
    height: 35px;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0px 4px 4px #B4B4B4;
}

button:focus{
    outline: 1px solid var(--brown);
}


textarea{
    width: 550px;
    height: 398px;
    border: 13px solid var(--yellow);
    padding: 12px;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font);
}

textarea:focus{
    outline: none;
}





footer{
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 12px;
    font-family: var(--font);
}